@font-face{
    font-family:FreeLine;
    src:url(fonts/FreeLine.ttf);
}

body{
    background-image: url(images/computer.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: FreeLine;
    background-color: black;
}
ul{
    display: flex;
    margin: 20px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}
#ul1{
position: absolute;
    top: 10px;
}
#ul2{
    position: absolute;
    right: 8px;
    top: 10px;
}
li{
    display: flex;
    list-style: none;
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: lawngreen;
    font-size: 11px;
    transition: background-color 2s ease-out 100ms;
}
a{
    text-decoration: none;
    color: black;
    transition: background-color 2s ease-out 100ms;
}
li:hover{
    background-color: black;
}
a:hover{
   color: lawngreen;
}
aside{
    position: absolute;
    right: 30px;
    top: 30%;
    color: lawngreen;
}
#game{
    width: 400px;
    height: 290px;
    margin-left: 518px;
    margin-top: 142px;
    background-color: blue;
    overflow: hidden;
}
#character{
    padding: 0;
    margin: 0;
    width: 20px;
    height: 50px;
    background-color: white;
    position: relative;
    top: 240px;
}

.animate{
    animation: jump 500ms;
}

#block{
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: red;
    position: relative;
    left: 380px;
    top: 220px;
    animation: block 1s infinite;
}
@keyframes block{
    0%{left: 380px;}
    100%{left: -40px;}
}
@keyframes jump{
    0%{top: 240px;}
    30%{top:190px;}
    70%{top:190px;}
    100%{top: 240px;}
}
@keyframes hover{
    0%{background-color: lawngreen;}
    100%{background-color: black;}
}
@keyframes hover2{
    0%{color: black;}
    100%{color: lawngreen;}
}
