ul{
    display: flex;
    top: 0;
    justify-content: center;
    justify-content: space-between;
    border: 2px solid black;
    background-color: blueviolet;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}
li{
    display: flex;
    text-decoration: none;
    list-style: none;
    border: 2px solid black;
    padding: 5px 5px 5px 5px;
    border-radius: 2px;
    background-color: darksalmon;
}
#game{
    border: 1px solid black;
    width: 500px;
    height: 200px;
    padding: 0;
    margin: 0;
}
#character{
    padding: 0;
    margin: 0;
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}

.animate{
    animation: jump 500ms;
}

#block{
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    left: 480px;
    top: 130px;
    animation: block 1s infinite;
}
@keyframes block{
    0%{left: 480px;}
    100%{left: -40px;}
}
@keyframes jump{
    0%{top: 150px;}
    30%{top:100px;}
    70%{top:100px;}
    100%{top: 150px;}
}
