html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Marcellus", sans-serif;
	position: relative;
	overflow-x: hidden;
	background-color: #b7a5e0;
}

h2,
figure {
	margin: 0;
	padding: 0;
}

article > h1 {
	margin-top: 15px;
}

article > p {
	line-height: 2rem;
	margin-left: 20px;
	margin-right: 20px;
}

.para {
	width: 100vw;
	min-height: calc(100vh - 80px);
	/*background-image: linear-gradient(to bottom, rgb(86 79 95 / 64%),rgb(79 30 83 / 39%)),
    url(img/bakgrunn.png);*/
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.p1 {
	/*background-image: linear-gradient(to bottom, rgb(87 68 109 / 43%),rgb(79 79 99 / 89%)), url("./img/bakgrunn.png");*/
	position: relative;
	display: grid;
	place-items: center;
	background-position: 50% 70%;
}

.content {
	height: 100vh;
}

.c1,
.c2 {
	height: 0; /*50vh*/
}

.p2 {
	background-image: linear-gradient(
			to bottom,
			rgb(68 62 81 / 83%),
			rgb(18 8 31 / 79%)
		),
		url(img/relax.jpeg);
	display: grid;
	place-items: center;
}

.p3 {
	background: #524b5b;
	/* background: rgb(173 162 166);*/
}

header {
	position: relative;
	z-index: 20;
	display: grid;
	font-family: "Marcellus", sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	background: #5346ca;
	height: 80px;
	width: 100%;
	top: 0;
	margin: 0;
	padding: 0;
}

#main-nav {
	display: grid;
	align-items: center;
	padding: 0 1rem;
	grid-template-columns: 1fr auto 1fr;
}

.nav-middle {
	display: flex;
	gap: 1.5rem;
}

#home-img {
	transition: transform 500ms ease-out 100ms;
}

#home-img:hover {
	transform: rotate(360deg);
}

a {
	text-decoration: none;
	color: white;
	transition: color 100ms ease-out 100ms, font-size 100ms ease-out 100ms;
}

a:hover {
	color: rgb(203, 183, 250);
	font-size: large;
}

.fas {
	cursor: pointer;
	font-size: 1.3rem;
	transition: font-size 100ms ease-out 100ms, color 200ms ease-out 100ms;
}

.fas:hover {
	font-size: xx-large;
	color: #9b70ff;
}

img {
	width: 100%;
	height: 100%;
}

.img-container {
	max-width: 70px;
	margin: 0;
}

.img-link {
	display: flex;
	width: 70px;
}

.nav-right {
	display: flex;
	gap: 1rem;
}

.slide-img-container {
	max-width: 350px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0%, -50%);
	margin-right: 50px;
}

.home-left {
	width: 45%;
	position: absolute;
	top: 0;
	left: 0%;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
	margin-left: 50px;
	color: white;
	background-color: rgba(0, 0, 0, 0.45);
	box-shadow: rgb(0 0 0 / 25%) 0px 5px 15px;
}

.home-left div {
	padding: 2rem;
}

.absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text-center {
	text-align: center;
}

.site-name {
	margin-top: 0px;
}

.site-description {
	line-height: 1.5rem;
}

#burger,
#cb,
#menu {
	display: none;
}

@media only screen and (max-width: 667px) {
	#main-nav {
		display: flex;
		justify-content: space-between;
	}

	.nav-middle {
		display: none;
	}

	#cb {
		position: absolute;
		right: 100px;
		display: none;
	}

	#burger {
		position: absolute;
		top: 0%;
		right: 0%;
		transform: translate(-50%, 75%);
		width: 32px;
		height: 32px;
		display: grid;
		grid-template-rows: 4px 4px 4px;
		align-content: space-between;
		cursor: pointer;
		z-index: 25;
	}

	#burger div {
		background-color: rgb(255, 255, 255);
	}

	#cb:checked {
		background: blue;
	}

	#menu {
		height: calc(100vh - 80px);
		display: flex;
		background: #5346caf5;
		font-family: "Marcellus", sans-serif;
		font-weight: 700;
		font-size: 1.6rem;
		width: 100%;
		display: grid;
		place-items: center;
		align-content: space-evenly;
		position: absolute;
		right: 0;
		top: -1000px;
		transition: 1.5s;
		z-index: 15;
	}

	#menu a {
		text-decoration: none;
		color: white;
		font-weight: 700;
		transition: font-size 100ms ease-out 50ms;
	}

	#menu a:hover {
		font-size: xx-large;
	}

	#cb:checked ~ #menu {
		top: 80px;
		right: 0;
		transition: 0.6s;
	}

	#burger div {
		transition: 0.6s ease-out 0.6s;
	}
}

button {
	color: white;
	border: none;
	padding: 1rem;
	cursor: pointer;
	background-color: rgb(191 191 191 / 26%);
	transition: color 200ms ease-out 100ms;
}

button:hover {
	color: #cbb7fa;
}

.slide-arrow-div {
	position: absolute;
	padding: 0 1rem;
	background: transparent;
	color: white;
	transition: color 200ms ease-out 100ms;
}

.slide-arrow-div:hover {
	color: #9b70ff;
}

#left {
	left: 0;
}

#right {
	right: 0;
}

@media only screen and (max-width: 500px) {
	.home-left {
		width: 70%;
	}
}

@media only screen and (max-width: 700px) {
	.p1 {
		background-position: top 50% right 15%;
	}
}

hr {
	width: 75%;
}

.margin-bottom3 {
	margin-bottom: 3rem;
}

#reflection-img {
	width: 50%;
	height: auto;
}
